frontend/node_modules
frontend/node_modules_backup
bitcoin-rpc-adapter-service/node_modules
.DS_Store
.vscode
tmp/
log/
public/assets/
vendor/bip_mnemonic-master/.gitbackup
vendor/money-tree-master/.gitbackup
.idea/
config/database.yml
